@charset "utf-8";
/* CSS Document */

body{
	background-image:url(imagenes/correspondenciabg2.png);
	margin:0;
	overflow:auto;
	padding:0;
}

#contenedor{
	margin:0 auto;
	width:960;
}

/*========================= HEADER =========================*/
#correspondenciahd{
	margin-left: 200px;
	margin-top: 105px;
	position: absolute;
	z-index: 1;
}

/*========================= BODY ============================*/
#float{
	bottom:320px;
	display:scroll;
	position:fixed;
	right:8px;
}

#titulo{
	color: #fff;
	font-family: 'Agency FB';
	font-size: 36px;
	font-weight: bold;
	margin-left: 355px;
	margin-top: 390px;
	position: absolute;
	z-index: 3;
}

#is{
	background-color: #00bbf2;
	border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,187,242,0.7);
    height: 40px;
    margin-left: 340px;
    margin-top: 371px;
    padding: 15px 15px 15px 15px;
    position: absolute;
    width: 692px;
    z-index: 2;
}

/*========================BOTONES============================*/
#rapport{
	border-radius: 0.5em;
	margin-left: 195px;
	margin-top: 470px;
	position: absolute;
	z-index: 112;
}

#rapport:hover{
	transform: scale(1.1);
	-webkit- transform: scale(1.1);
	-moz- transform: scale(1.1);
	transition: .2s;
	-webkit- transition: .2s;
	-moz- transition: .2s;
}

#formacion{
	border-radius: 0.5em;
	margin-left: 695px;
	margin-top: 470px;
	position: absolute;
	z-index: 108;
}

#formacion:hover{
	transform: scale(1.1);
	-webkit- transform: scale(1.1);
	-moz- transform: scale(1.1);
	transition: .2s;
	-webkit- transition: .2s;
	-moz- transition: .2s;
}

#condicion{
	border-radius: 0.5em;
	margin-left: 195px;
	margin-top: 720px;
	position: absolute;
	z-index: 109;
}

#condicion:hover{
	transform: scale(1.1);
	-webkit- transform: scale(1.1);
	-moz- transform: scale(1.1);
	transition: .2s;
	-webkit- transition: .2s;
	-moz- transition: .2s;
}

#perfil{
	border-radius: 0.5em;
	margin-left: 695px;
	margin-top: 720px;
	position: absolute;
	z-index: 110;
}

#perfil:hover{
	transform: scale(1.1);
	-webkit- transform: scale(1.1);
	-moz- transform: scale(1.1);
	transition: .2s;
	-webkit- transition: .2s;
	-moz- transition: .2s;
}

#seleccion{
	border-radius: 0.5em;
	margin-left: 680px;
	margin-top: 1000px;
	position: absolute;
	z-index: 111;
}

#recl{
	font-family: 'Agency FB';
	font-size: 40px;
	margin-left: 200px;
	margin-top: 1050px;
	position: absolute;
	z-index: 112;
}

#dept{
	font-family: 'Agency FB';
	font-size: 35px;
	margin-left: 200px;
	margin-top: 1115px;
	position: absolute;
	z-index: 113;
}

#ver{
	font-family: 'Agency FB';
	font-size: 35px;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 1180px;
	position: absolute;
	z-index: 112;
}

#logo{
	margin-left: 200px;
	margin-top: 1240px;
	position: absolute;
	z-index: 113;
}
