@charset "utf-8";
/* CSS Document */

body {
margin:0;
padding:0;
background-image:url(imagenes/background.jpg);
overflow:auto;
}

#contenedor{
width:960px;
margin:0 auto;
}

/*--------------------------Header-----------------------------*/

.logo {
margin-top:17px;
margin-left:17px;
float:left;
margin-bottom:-20px;
}

#buscador{
margin-top:13px;
margin-right:20px;
float:right;
width:216px;
height:46px;
background:url(imagenes/buscarbg.jpg) no-repeat;
}

#buscador #s {
padding:0;
margin:13px 0 15px 20px;
border:0;
width:134px;
background:transparent;
font-family: verdana, arial, serif;
font-size: 14px;
color:#ced0db;
float:left;
font-weight:Bold;
}

#buscador #go{
float:right;
margin:2px 15px 5px 0;
}

/*--------------------------Navegacion-----------------------------*/

ul#nav{
clear:both;
margin:0;
padding:0;
list-style:none;
display:block;
overflow:hidden;
margin-left:324px;
z-index:15;
}

ul#nav li{
float:left;
height:26px;
}

ul#nav li a{
display:block;
height:28px;
width:159px;
background:url(imagenes/menubtn.jpg) top left no-repeat;
text-align:center;
text-decoration:none;
color:#ced0db;
font-family:verdana, arial, serif;
font-size:14px;
font-weight:Bold;
}

ul#nav li a:hover {
background:url(imagenes/menubtn.jpg) bottom left no-repeat;
}

/*=== Estado de la Clase Actual Current === */

li.inicio a{
background:url(imagenes/menubtn.jpg) bottom left no-repeat !important;
}

/*========== Inicio de la Galeria de Imagenes Slider ==========*/

#galeria {
clear:both;
position:relative;
width:960px;
height:310px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-webkit-box-shadow:1px 1px 3px #888;
-moz-box-shadow:1px 1px 3px #888;
}

#prev{
position:absolute;
top:130px;
left:7px;
z-index:10;
}

#next{
position:absolute;
top:130px;
left:915px;
z-index:10;
}

.slider{
overflow:hidden;
position:relative;
z-index:1;
width:960px;
height:310px;
}

.slider img{
margin:0;
padding:0;
}

.imagenesSlider{
margin:0;
padding:0;
list-style:none;
}

/*========== Fin del Slider de Imagenes ==========*/

/*========== Fin del Header ==========*/

#reg{
	bottom:320px;
	display:scroll;
	position:fixed;
	right:0px;
}

/*========== Comienzo del Cuerpo ==========*/

#cuerpo{
margin-top:10px;
width:960px;
height:460px;
background:url(imagenes/recursoshumanos.png);
box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
overflow:hidden;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:1px 1px 3px #888;
-moz-box-shadow:1px 1px 3px #888;
}

.rrhh{
	z-index:10;
}

.closesession{
	position:absolute;
	z-index:15;
	margin-top:12px;
	margin-left:835px;
}

#session{
	position:absolute;
	z-index:18;
	margin-left:705px;
	margin-top:14px;
	font-family:'Agency FB', Verdana, Arial, sans-serif;
	font-size:18px;
	font-weight:Bold;
	color:#000;
	text-shadow:1px 1px 1px #325179;
}

#cuerpo h2{
	position:absolute;
	z-index:17;
	font-family:'Agency FB', Verdana, Arial, sans-serif;
	color:#343230;
	font-size:24px;
	font-weight:Bold;
	margin-top:74px;
	margin-left:291px;
	text-shadow:1px 1px 1px #325179;
}

#main{
	position:relative;
	z-index:16;
	margin-top:112px;
	margin-left:265px;
	padding:5px;
}

ul#menu a{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-family:'Agency FB', Arial, sans-serif;
	font-size:20px;
	padding:2px 6px;
	text-shadow:1px 1px 1px #325179;
}

#menu a:hover{
	color:#fa9f16;
	-webkit-transition: color 0.2s linear;
}

#menu ul a{
	background-color:#3535e1;
}

#menu ul a:hover{
	background-color:#FFF;
	color:#0000ff;
	text-shadow:none;
	-webkit-transition: color, background-color 0.2s linear;
}

ul#menu{
	display:block;
	background-color:#0000ff;
	margin:0;
	padding:0;
	width:230px;
	list-style:none;
}

#menu ul{
	background-color:#3535e1;
}

#menu li ul {
	display:none;
	list-style:none;
}

/*================= Comienzo del Menu ====================*/

ul#menu{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #888;
	-moz-box-shadow:1px 1px 3px #888;
}

#menu li{
	border-bottom:1px solid #FFF;
}

#menu ul li, #menu li:last-child{
	border:none;
}	

/*============= COMIENZO DEL PREFOOTER =============*/

#footer{
margin:0 auto;
}

#footer #enlaces{
width:960px;
margin:0 auto;
}

#footer h3{
margin:0;
padding:0;
padding-top:15px;
margin-left:19px;
font-family:verdana, arial, serif;
font-size:18px;
font-style:italic;
color:#fbfbfb;
font-weight:normal;
}

#footer ul.listados{
margin:0;
padding:0;
list-style:none;
padding-left:33px;
padding-top:7px;
}

#footer ul.listados li{
margin:0;
padding:0;
font-family:verdana, arial, serif;
font-size:14px;
font-weight:Bold;
color:#fbfbfb
}

#footer ul.listados li a{
color:#fbfbfb;
text-decoration:none;
}

#footer ul.listados li a:hover{
color:#ebebf5;
text-decoration:underline;
}

.footerDiv{
display:block;
padding:5px 0 5px 0;
}

#carbon{
float:left;
}

#direccion{
float:right;
margin-right:18px;
}

.sedes{
border:0;
}

.cienajuan{
position:absolute;
margin-top:111px;
margin-left:76px;
border:0;
}

#social{
float:right;
margin-right:18px;
}

.facebook{
border:0;
}

.twitter{
border:0;
}

.youtube{
border:0;
}

/*============ Fin del Prefooter y Comienzo del Footer ============*/

#pie{
width:100%;
margin:0 auto;
}

#contenedorfooterPie{
width:960px;
margin:0 auto;
padding-top:25px;
}

.lineafooter{
width:960px;
color:#ffffff;
float:left;
}

ul#footerPie{
list-style:none;
margin:0;
padding:0;
text-align:center;
margin:0 0 0 190px;
}

ul#footerPie li{
font-family:verdana, arial, serif;
font-size:15px;
text-transform:uppercase;
color:#ffffff;
display:inline;
float:left;
padding-top:10px;
}

ul#footerPie li a{
color:#ffffff;
text-decoration:none;
}

ul#footerPie li a:hover{
color:#ffff33
}

ul#footerPie li span{
padding:0 20px 0 20px;
}

.copyright{
margin:0;
padding:0;
text-align:center;
float:left;
margin:10px 0 0 -155px;
font-family:verdana, arial, serif;
font-size:12px;
color:#ffffff;
padding-bottom:24px;
}

.copyright span{
padding:0 5px 0 5px;
}